<suite name="sam test" verbose="10">
	<parameter name="selenium.host" value="192.168.59.1" />
	<parameter name="selenium.port" value="4444" />
	<parameter name="selenium.browser" value="*firefox" />
	<parameter name="selenium.url" value="http://www.gp.com" />
	
	<test name="sam test" preserve-order="true">
		<classes>
			<class name="gp.SimpleDotComTest">
				<methods>
					<include name="launchSite" />
				</methods>
			</class>
		</classes>
	</test>
</suite>

